<%- include('header') -%>
<h1>Leaderboard</h1>
<ul>
		<li><div class="scorecontainer"><div class="place"></div><div class="name">Name</div> <div class="score">Score</div></div></li>
  		<% data.forEach((data) => { %>
    	<li><div class="scorecontainer"><div class="place"><%= data.place %></div><div class="name"><%= data.name %></div> <div class="score"><%=data.score %></div></div></li>
  		<% }) %>
</ul>
<a href="/">Back</a>
<%- include('footer') -%>